
#calendar {
	background: transparent;
	width: 320px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #AAA;
	box-shadow: 0 6px 6px -3px #444;
	font-family: Arial, Sans-Serif;
	font-size: 16px;
}
#calendar .head {
	background: transparent url("../img/calendar/calendar_bkg.png") 0px 0px repeat-x;
	height: 21px;
	padding-top: 4px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}

.head span {
	display: inline-block;
	width: 16px;
	height: 14px;
	margin: 2px 5px 0 5px;
	vertical-align: middle;
}
.head span.prev-year {
	background: transparent url("../img/calendar/calendar_arrow.png") 0px 0px no-repeat;
	float: left;
}
.head span.prev-year:hover {
	background-position: 0px -14px;
}
.head span.prev-month {
	background: transparent url("../img/calendar/calendar_arrow.png") -16px 0px no-repeat;
	float: left;
}
.head span.prev-month:hover {
	background-position: -16px -14px;
}
.head span.next-year {
	background: transparent url("../img/calendar/calendar_arrow.png") -48px 0px no-repeat;
	float: right;
}
.head span.next-year:hover {
	background-position: -48px -14px;
}
.head span.next-month {
	background: transparent url("../img/calendar/calendar_arrow.png") -32px 0px no-repeat;
	float: right;
}
.head span.next-month:hover {
	background-position: -32px -14px;
}

#calendar .image {
	background: #444;
	width: 300px;
	height: 200px;
	padding: 10px;
}

#calendar .days {
	background: #444;
	padding: 10px;
}

table.t-calendar {
	border-collapse: collapse;
}
table.t-calendar thead th {
	width: 25px;
	height: 25px;
	color: #CCC;
	font-weight: normal;
	text-align: center;
}
table.t-calendar tbody tr {
	height: 25px;
	line-height: 25px;
}
table.t-calendar td {
	height: 25px;
}
table.t-calendar td.week {
	text-align: left;
	padding-right: 5px;
	color: #CCC;
	font-weight: normal;
}
table.t-calendar td.day {
	color: #FFF;
	font-weight: bold;
	text-align: center;
}
table.t-calendar thead th.red-day, table.t-calendar td.red-day {
	color: #E30;
}
table.t-calendar div {
	background: transparent url("../img/calendar/calendar_bkg.png") 0px -25px repeat-x;
	width: 35px;
	height: 25px;
	margin: 0px;
}
table.t-calendar div.day {
	border: 1px solid #444;
}
table.t-calendar div.selected {
	border: 1px solid #C44;
}
table.t-calendar a {
	text-decoration: none;
}
table.t-calendar td.off-month {
	color: #888;
	font-weight: normal;
	text-align: center;
}	
table.t-calendar td.off-month.red-day {
	color: #B20;
}	

#calendar .snap {
	background: transparent url("../img/calendar/calendar_snap.png") repeat-x;
	width: auto;
	height: 20px;
}
